/* ------------------------------- Coloque sua estilização aqui ------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --cor-primaria: #4c6ef5;
  --cor-secundaria: #364fc7;
  --cor-grey-0: #191c1f;
  --cor-grey-1: #212529;
  --cor-grey-2: #343a40;
  --cor-grey-3: #adb5bd;
  --cor-grey-4: #ced4da;
  --cor-grey-5: #f8f9fa;
  --font-family: 'Inter', sans-serif;
  --weight-title-1: 600;
  --weight-title-2: 600;
  --weight-title-3: 400;
  --size-title-1: 52px;
  --size-title-2: 40px;
  --size-title-3: 32px;
  --height-title-1: 72px;
  --height-title-2: 64px;
  --height-title-3: 44px;
  
  --weight-text-1: 400;
  --weight-text-2: 400;
  --weight-text-3: 400;
  --size-text-1: 28px;
  --size-text-2: 20px;
  --size-text-3: 16px;
  --height-text-1: 44px;
  --height-text-2: 30px;
  --height-text-3: 27px;
}

